.imageContainer {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  max-height: max-content;
  background-color: #fff;
}

.image {
  width: 100%;
  height: auto;
  max-height: max-content;
  cursor: zoom-out;
}

.loaderContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}